@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans";
  line-height: 1.5;
  font-weight: 400;
  margin: 0%;
}

html, body {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

select {
  background-color: #fff;
}

h1 {
  font-size: "64px";
  line-height: 1.1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
